<!-- TODO: breadcrumb navigation for ar is not correct -->
<nav aria-label="breadcrumb" >
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link-body-emphasis link-underline-opacity-0" href="{{ '/' | relative_url }}">{{ site.data[site.active_lang].strings.navigation.home }}</a></li>
    <li class="breadcrumb-item"><a class="link-body-emphasis link-underline-opacity-0" href="{{ '/introduction/' | relative_url }}">{{ site.data[site.active_lang].strings.navigation.field_guide }}</a></li>
    <li class="breadcrumb-item active fw-semibold" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>