<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ '/' | relative_url }}" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <i class="bi bi-command fs-4 fw-bolder"></i> <span class="px-3 fs-5">{{ site.data.l10n.short_title }}</span>
            </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <!-- <li><a target="_blank" href="https://remind.clir.org" class="nav-link px-2 nav-link-secondary">Re:Mind Site</a></li> -->
            <li><a href="https://www.clir.org/" target="_blank" class="nav-link px-2 link-body-emphasis">CLIR</a></li>
            <li><a href="/{{ site.active_lang }}/resources/" class="nav-link px-2 link-body-emphasis">{{ site.data[site.active_lang].strings.navigation.resources }}</a></li>
            <li><a href="https://github.com/clirdlf/remind_guide/discussions" target="_blank" class="nav-link px-2 link-body-emphasis">{{ site.data[site.active_lang].strings.navigation.community }}</a></li>
            <li>

              <button id="search-toggle" type="button" aria-label="{{ site.data[site.active_lang].strings.search.placeholder }}" title="{{ site.data[site.active_lang].strings.search.placeholder }}" onclick="openSearchModal()">
                <span class="nav-link">ctrl k <i class="bi bi-search"></i></span>
              </button> 

              <!-- 
                <div class="search" id="docsearch" data-guide-version="{{ site.version }}">
                  <button id="search-toggle" type="button" aria-label="{{ site.data[site.active_lang].strings.search.placeholder }}" title="{{ site.data[site.active_lang].strings.search.placeholder }}" onclick="openSearchModal()">
                    {{ site.data[site.active_lang].strings.search.placeholder }}
                    <span class="nav-link px-2 text-body-emphasis">ctrl k <i class="bi bi-search"></i></span>
                  </button>
                </div>-->
              
            </li> 
          </ul>

          {% comment %}   {% endcomment %}
          <!-- search -->
          {%- include search.liquid %}

          {%- include language-switcher.html %}

        <a class="link-dark" target="_blank" href="{{ site.github }}">
          <i class="bi bi-github px-3"></i>
        </a>
      </div>
    </div>
  </header>