<div class="dropdown text-end">

    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ site.data[site.active_lang].l10n.lang_name }}
    </button>

    <ul class="dropdown-menu">
        {% assign language_set = false %}
        {% for l in site.languages %}
            {%- assign lang_name = site.data[l].l10n.lang_name %}
            {% if l == site.default_lang %}
                <a class="dropdown-item"{% static_href -%} href="{{ site.baseurl }}{{ page.url }}" {%- endstatic_href %}>{{ lang_name  }}</a>
            {% else %}
                <a class="dropdown-item" {% static_href -%} href="{{ site.baseurl }}/{{ l }}{{ page.url }}" {%- endstatic_href %}>{{ lang_name }}</a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
