{%- assign sorted_pages = site.pages | sort: "nav_order" -%}
{%- assign current_page = page.nav_order %}
{%- assign previous_page = current_page | minus: 1 %}
{%- assign next_page = current_page | plus: 1 %}
{%- assign last_page = sorted_pages | last %}
{%- assign last_page_id = last_page.nav_order %}

{%- assign previous = site.pages | where: 'nav_order', previous_page %}
{%- assign next = site.pages | where: 'nav_order', next_page %}

{% if site.active_lang == 'ar' %}
  <div id="pageNav" class="container my-5 py-5 d-print-none">
    <div class="row gx-5">
      {% if current_page > 1 %}
      <div class="col border rounded pt-3 m-4">
        <a class="link-body-emphasis link-underline-opacity-0" href="{{ next.first.url | relative_url }}">
          <p class="fs-6 link-secondary">
            {{ site.data[site.active_lang].strings.next }}
            <i class="bi bi-chevron-right"></i>
          </p>
          <p class="mt-1 ms-1">{{ next.first.title }}</p>
        </a>
        
      </div>
      {% endif %}
      {% if current_page < last_page_id %}
      <div class="col text-end border rounded pt-3 m-4">
        <a class="link-body-emphasis link-underline-opacity-0" href="{{ previous.first.url | relative_url }}">
          <p class="fs-6 link-secondary">
            <i class="bi bi-chevron-left"></i> 
            {{ site.data[site.active_lang].strings.previous }}
          </p>
          <p class="mt-1 ms-1">{{ previous.first.title }}</p>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div id="pageNav" class="container my-5 py-5 d-print-none">
    <div class="row gx-5">
      {% if current_page > 1 %}
      <div class="col border rounded pt-3 m-4">
        <a class="link-body-emphasis link-underline-opacity-0" href="{{ previous.first.url | relative_url }}">
          <p class="fs-6 link-secondary">
            <i class="bi bi-chevron-left"></i> 
            {{ site.data[site.active_lang].strings.previous }}
          </p>
          <p class="mt-1 ms-1">{{ previous.first.title }}</p>
        </a>
      </div>
      {% endif %}
      {% if current_page < last_page_id %}
      <div class="col text-end border rounded pt-3 m-4">
        <a class="link-body-emphasis link-underline-opacity-0" href="{{ next.first.url | relative_url }}">
          <p class="fs-6 link-secondary">
            {{ site.data[site.active_lang].strings.next }}
            <i class="bi bi-chevron-right"></i>
          </p>
          <p class="mt-1 ms-1">{{ next.first.title }}</p>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
{% endif %}