<aside class="col-sm-3 d-none d-md-block">
    <div>
        {{ site.data[site.active_lang].strings.navigation.field_guide }}
        <ul class="list-group list-group-flush">
            {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
            {% for p in sorted_pages %}
                {%- if p.nav_order %}
        
                    {% if p.url == page.url %}
                        {% capture page_nav_link %}
                            <a class="nav-link link-body-emphasis active" aria-current="page" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                        {% endcapture %}
                    {% else %}
                        {% capture page_nav_link %}
                            <a class="nav-link link-body-emphasis" href="{{ p.url | relative_url }}">{{ p.title }}</a>
                        {% endcapture %}
                    {% endif %}
                
                <li class="list-group-item">
                    {{ page_nav_link}}
                </li>
                {%- endif %}
            {%- endfor %}
        </ul>
    </div>
</aside>