#search-toggle {
    padding: 0;
    border: 0;
    background-color: inherit;
    color: var(--bs-secondary-color);

    &:hover {
        color: var(--global-hover-color);
    }

    .nav-link {
        color: var(--bs-secondary-color);
    }
}

