.search {
    position: relative
}

@media (min-width: 992px) {
    .search {
        position:absolute;
        top: .875rem;
        left: 50%;
        width: 200px;
        margin-left: -100px
    }
}

@media (min-width: 1200px) {
    .search {
        width:280px;
        margin-left: -140px
    }
}
