---
layout: default
---
<div class="container page-content">
    <div class="row g-3 mt-3 ">
        
        {%- include site-navigation.html %}

        <div class="col-md-9 col-lg-6 col-sm-12">
            {%- include breadcrumb.html %}

            <h1 id="{{ page.title | slugify }}" class="mt-1 fs-2">{{ page.title }}</h1>

            {%- if page.intro %}
            <div class="text-body-secondary">
                <p class="hero">{{page.intro}}</p>
            </div>
            {%- endif %}

            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0" class="lh-lg">
                {{ content }}
            </div>

            {%- include page-navigation.html %}
        </div>
        <div class="toc col-sm-3 d-none d-lg-block g-3 ps-2">

            <div class="position-sticky" style="top: 2rem;">
                <h3 class="fw-semibold fs-6">{{ site.data[site.active_lang].strings.navigation.on_this_page }}</h3>

                {{ content | toc_only }}
                
            </div>
        </div>

        
    </div>
</div>

